<div class="container-fluid">
    <div class="row" >
        <h2 class="detail-pet">Your Cart</h2>
        <h4  id="success-Info" class="m-2 p-2"role="alert"></h4>

        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let pet of pets">
            
            <div class="card m-1 mx-3 pb-2 cards-style ">
           
           <img src="{{pet.image}}" class="card-img-top" alt="{{pet.name}}"> 
            <h3 class="card-text text-light bg-dark text-center fs-5 p-2">{{pet.name}}</h3>
            <h3 class="btn btn-danger w-50 text-center fs-5 p-1 m-2">{{pet.price}} €</h3>
          
          
           
           
           </div>
        </div>
        
        <form class="formCart" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div class="formgroups">
                <label for="name">Name</label><br>
                <input type="text" formControlName="name">
            </div>
            <div>
                <label for="name">Address</label><br>
                <input type="text" formControlName="address">
            </div>
          <button class="btn btn-success m-2 p-2" type="submit">Purchase</button>
      </form>
    </div>
</div>
